# **Trabajo Practico 1: Modelos Predictivos**

*Lorenzo Nascimbene & Federico Zafran*

# Importacion de Librerias

In [1]:
import pandas as pd
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

# Punto 1:
Investigar y seleccionar un dataset que cumpla con tener entre 1000 y 10.000 muestras, 5 o más atributos numéricos y al menos un atributo categórico (Recomendación: seleccionar un atributo a predecir binario). De encontrar algún dataset sin atributos categóricos, ¿Como se podría generar uno binario a partir de los atributos numéricos? Se recomienda utilizar Kaggle para la búsqueda del dataset. Antes de avanzar con el trabajo práctico, corroborar el dataset en clase.

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
Bangalore = pd.read_csv("Bangalore.csv")

In [7]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [8]:
Bangalore.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,1,1,0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,1,1,0,0,1,0,1,0,1,1,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,1,1,0,1,1,0,1,0,1,1,1,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0

Elegimos este dataset, el cual cuenta con ls requisitos. Tiene mas de 5 atributos numéricos y 1 categórico.También cuenta con mas de 1000 y menos de 10000 muestras.

Vamos a predecir el precio.

In [9]:
Bangalore = Bangalore[["Location", "Price", "Area", "No. of Bedrooms", "MaintenanceStaff", "Gymnasium", "SwimmingPool", "IndoorGames", "24X7Security", "CarParking", "Cafeteria", "Wifi", "Children'splayarea"]]
Bangalore.head()

,Location,Price,Area,No. of Bedrooms,MaintenanceStaff,Gymnasium,SwimmingPool,IndoorGames,24X7Security,CarParking,Cafeteria,Wifi,Children'splayarea
0,JP Nagar Phase 1,30000000,3340,4,1,1,1,1,1,0,0,0,1
1,Dasarahalli on Tumkur Road,7888000,1045,2,0,1,1,1,1,1,0,0,1
2,Kannur on Thanisandra Main Road,4866000,1179,2,0,1,1,0,1,0,0,0,1
3,Doddanekundi,8358000,1675,3,0,0,0,0,0,0,0,0,0
4,Kengeri,6845000,1670,3,1,1,1,1,1,1,0,0,1

# Punto 2:

Realizar un análisis exploratorio de los datos. Se recomienda utilizar gráficos para visualizar la distribución de los datos y la correlación entre los atributos. Se recomienda utilizar la librería seaborn para realizar los gráficos.

In [14]:
sns.pairplot("Location")

TypeError: 'data' must be pandas DataFrame object, not: <class 'str'>

# Punto 3:

Como resultado del análisis exploratorio, seleccionar un atributo categórico y un atributo numérico para realizar un modelo de clasificación. Se recomienda utilizar la función LabelEncoder de SciKit-Learn para convertir el atributo categórico a numérico.

# Punto 4
Realizar una partición de los datos en conjuntos de entrenamiento y test. La proporción con la cual hacen esta partición es libre. Se recomienda utilizar la función train_test_split de SciKit-Learn.

In [ ]:
train, test = train_test_split(WC_Players_df, test_size = 0.23)

print("ejemplos para entrenar:", len(train))
print("ejemplos para test:", len(test))

ejemplos para entrenar: 4532
ejemplos para test: 1354

In [ ]:
modeloRegresionLineal = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
modeloRegresionLineal.fit(X_train, y_train)

NameError: ignored

# Punto 5
Para el atributo numérico a predecir seleccionado:

Realizar un modelo de regresión lineal utilizando la clase LinearRegression de SciKit-Learn.
Realizar un modelo de Árbol de Decisión utilizando la clase DecisionTreeRegressor de SciKit-Learn. Seleccionar hiperparámetros que les parezca mejoren el modelo.
Responder: ¿Que formas tienen de evaluar los resultados de cada árbol de decisión? ¿Como eligen "el mejor árbol"? ¿Como se comparan los resultados de los modelos de regresión lineal y de árbol de decisión?

Sugerencia: Aprovechar los conceptos de validación y de validación cruzada para evaluar los modelos. Pueden utilizar la función cross_val_score de SciKit-Learn para evaluar los modelos.

Se recomienda utilizar la función cross_val_score de SciKit-Learn para evaluar los modelos.

# Punto 6
Para el atributo categórico a predecir seleccionado
Realizar un modelo de clasificación utilizando la clase LogisticRegression de SciKit-Learn.
Realizar un modelo de clasificación utilizando la clase DecisionTreeClassifier de SciKit-Learn.
Responder las mismas preguntas que en el punto 5 para este caso.

# Punto 7
Comparar distintos métodos de validación cruzada. ¿Que ventajas y desventajas tiene cada uno?

# Punto 8 (Conclusion)
Escribir una conclusión sobre el trabajo realizado.